server:
  port: 8081

spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:h2:mem:notification-db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: notification-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: orderCreated:com.challenge.notificationservice.event.OrderCreatedEvent
        spring.json.use.type.headers: false
    listener:
      ack-mode: manual_immediate

logging:
  level:
    org.springframework.kafka: INFO
    com.challenge: DEBUG